# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
.venv/

# Java
**/target/

# WP uploads
wordpress/wp-content/uploads/

# Env/Secrets
.env
.env.*
.DS_Store

# Build output
app-demo-infoterminal/dist/
